@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography/text/ellipsis";

@import "normalize";

.flow-builder-main {
  background-color: #fff;
  border-radius: 5px;
  min-height: 600px;
  @include user-select(none);

  .flow-builder-main-top-bar {
    text-align: right;
    height: 60px;
    top: 10px;
    right: 10px;
  }
}

.flow-builder-main .del {
  cursor: pointer;
  color: #e74c3c;
}

.flow-builder-clear {
  clear: both
}

.flow-builder-left {
  float: left;
  width: 320px;
  padding-top: 30px
}

.flow-builder-right {
  padding-top: 70px;
  margin-left: 320px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
  min-height: 100%;
  overflow: hidden;
}

.flow-builder-tabs {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #ccc;

  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px;
      border-radius: 5px 5px 0 0;
      font-size: 13px;
      cursor: pointer;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent
    }
  }
  li.active a {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    border-bottom-color: #fff
  }
}

.flow-builder-tab-content {
  .flow-builder-tab-pane {
    padding: 0 20px;
    display: none;
    &.active { display: block }
  }

  .flow-builder-tab-pane .flow-builder-add-field-types {
    .btn {
      display: inline-block;
      width: 48.5%;
      margin-bottom: 9px
    }
    .section {
      padding-bottom: 5px;
      margin-bottom: 20px
    }
  }
}

.flow-builder-edit-step-wrapper {
  font-size: 13px;

  .flow-builder-edit-section-header {
    border-bottom: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    clear: both;
    font-weight: 700;
  }

  .flow-builder-step-label {
    font-weight: normal;
    background: #eee;
    padding: .75em;
    color: #666;
    font-size: 1.25em;

    .step-type, .step-name {
      margin-top: .5em;
      display: block;
      font-size: .8em;
      @include user-select(text);
      &:before { color: #999 }
    }

    .step-type:before, .step-name:before { content: attr(data-step) }
  }
}

.flow-builder-board {
  position: relative;

  .flow-builder-step {
    position: absolute;
    cursor: pointer;
    text-align: center;
    border: 1px solid green;
    background-color: #eee;

    &.selected { border: 1px solid #d9e1e3 }
    .step-title {}

    .del {
      position: absolute;
      display: none;
      right: -6px;
      top: -6px;
      font-size: 14px;
    }

    &:hover, &.selected {
      .del { display: block }
    }
  }

  .flow-step-start, .flow-step-end {
    width: 120px;
    height: 60px;
    line-height: 60px;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
  }

  .flow-step-process, .flow-step-condition {
    width: 120px;
    height: 60px;
    line-height: 60px;
  }

  .flow-step-line-hover {
    border: 1px dotted red
  }

  .flow-step-line-active {
    border: 1px dotted green
  }

  .flow-step-line-title {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
  }

  .flow-step-line-title._jsPlumb_hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
  }

  ._jsPlumb_connector {
    z-index: 4;
  }

  .jsplumb-drag {
    border: 2px solid pink !important
  }

  ._jsPlumb_endpoint {
    cursor: pointer
  }

  ._jsPlumb_overlay {
    background-color: transparent
  }
}
