@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/typography/text/ellipsis";

@import "normalize";

.fb-main {
  background-color: #fff;
  border-radius: 5px;
  min-height: 600px;
  @include user-select(none)
}

.fb-main .del {
  cursor: pointer;
  color: #e74c3c;
}

.fb-clear {
  clear: both
}

.fb-left {
  float: left;
  width: 320px;
  padding-top: 30px
}

.fb-right {
  padding-top: 70px;
  margin-left: 320px;
  border-left: 1px solid #ddd;
  padding-left: 20px;
  min-height: 100%;
  overflow: hidden;
}

.fb-tabs {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #ccc;

  li {
    display: inline-block;
    a {
      display: block;
      padding: 10px;
      border-radius: 5px 5px 0 0;
      font-size: 13px;
      cursor: pointer;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent
    }
  }
  li.active a {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    border-bottom-color: #fff
  }
}

.fb-tab-content {
  .fb-tab-pane {
    padding: 0 20px;
    display: none;
    &.active { display: block }
  }

  .fb-tab-pane .fb-add-field-types {
    .btn {
      display: inline-block;
      width: 48.5%;
      margin-bottom: 9px
    }
    .section {
      padding-bottom: 5px;
      margin-bottom: 20px
    }
  }
}

.fb-no-response-fields {
  color: #999
}

.fb-field-wrapper {
  display: inline-block;
  width: 48.5%;
  margin-right: 5px;
  position: relative;
  margin-bottom: 20px
}
.fb-field-wrapper.selected {
  background-color: #ecf0f1;
  border-radius: 3px;
}
.fb-field-wrapper.whole-line {
  display: block;
  width: 97%
}
.fb-field-wrapper .actions-wrapper {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 3;
  color: #e74c3c;
}
.fb-field-wrapper:hover>.subtemplate-wrapper, .fb-field-wrapper.selected>.subtemplate-wrapper {
  &>.actions-wrapper { display: block }
}

.fb-edit-field-wrapper {
  font-size: 13px;

  .fb-edit-section-header {
    border-bottom: 1px solid #ddd;
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    clear: both;
    font-weight: 700;
  }

  .fb-field-label {
    font-weight: normal;
    background: #eee;
    padding: .75em;
    color: #666;
    font-size: 1.25em;

    .field-type, .field-name {
      margin-top: .5em;
      display: block;
      font-size: 1em;
      @include user-select(text);
      &:before { color: #999 }
    }

    .field-type:before { content: 'Type: ' }
    .field-name:before { content: 'Name: ' }
  }
}

.fb-field-wrapper {
  vertical-align: top;

  .subtemplate-wrapper {
    border: 1px dashed transparent;
    padding: 10px;
    position: relative;

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      cursor: pointer
    }
    .title {
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 13px;
      border-bottom: 1px solid #ccc;
    }
    abbr { color: #f00 }
  }

  &:hover>.subtemplate-wrapper {
    border-color: #ddd;
    border-radius: 3px
  }

  &.selected .subtemplate-wrapper {
    border-color: #d9e1e3;
    border-style: solid;
    margin: 0;
    border-radius: 3px;
  }

  &.form-foeld-section .title { cursor: pointer }
}
