@import 'base';

.time-picker {
  text-align: center;

  .input-fake {
    padding: 4px 10px 4px 10px;
    color: #262626;
    border: none;
    background: #fff;
    font-weight: 500;
    font-size: 12px;
    @include box-shadow(inset 0 0 0 1px #d6d6d6);
    @include transition(all 0.15s ease-in-out);

    &.focus { @include box-shadow(inset 0 0 0 1px rgba(50, 138, 214, 0.8)); }

    select { width: 50px }
    input {
      outline: none;
      border: 0;
      padding: 0;
      width: 20px;
      text-align: center;
      @include box-shadow(none);
      @include border-radius(0);
      border-color: transparent !important
    }
  }
}

