.alert {
  position: relative;
  line-height: 29px;
  padding: 0 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04);
  box-shadow: inset 0 1px rgba(255,255,255,0.4),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.04)
}

.alert.alert-success {
  color: #526e4f;
  background: #bff1bc;
  border-color: #98cf9f #98cf9f #8ec397;
  @include background-image(linear-gradient(to bottom, #cef4d0,#b2eeaa))
}

.alert.alert-danger {
  color: #833230;
  background: #fbd3c4;
  border-color: #e55d48 #e5725a #e5725a;
  @include background-image(linear-gradient(to bottom, #f7dcd2,#edbbaa))
}

.alert.alert-warning {
  color: #6b6a5a;
  background: #fcf0b0;
  border-color: #d7cd89 #d7cd89 #cec986;
  @include background-image(linear-gradient(to bottom, #fef5bd,#faeca4))
}

.alert-close {
  display: block;
  padding: inherit;
  color: inherit;
  cursor: pointer;
  opacity: .75;
  right: 0;
  @include centre("y")
}

// with font awesome
.alert-close .fa-times {
  font-size: 13px;
}

.alert-close:hover {
  color: inherit;
  text-decoration: none;
  opacity: 1
}
