.btn {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  line-height: 1;
  padding: 0 10px;
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  background-clip: padding-box;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  @include box-sizing(border-box);
  @include ellipsis();
  outline: none
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .7
}

a.btn {
  line-height: 28px;
  text-decoration: none
}

.btn-round {
  border-radius: 15px
}

.btn-default {
  color: #666;
  background: #eee;
  border-color: #cfcfcf #ccc #c6c6c6;
  @include background-image(linear-gradient(to bottom, #fcfcfc,#e8e8e8));
  @include box-shadow(inset 0 1px #fff,inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05))
}

.btn-default:active,.btn-default.active {
  background: #e8e8e8;
  border-color: #bfbfbf #c8c8c8 #d6d6d6;
  @include background-image(linear-gradient(to bottom, #e8e8e8,#fafafa));
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1))
}

.btn-default:hover {
  color: #666
}

.btn-primary,.btn-success,.btn-danger {
  color: white;
  text-shadow: 0 -1px rgba(0,0,0,0.3);
  @include box-shadow(inset 0 1px rgba(255,255,255,0.2),inset 0 0 0 1px rgba(255,255,255,0.1),0 1px 1px rgba(0,0,0,0.06))
}

.btn-primary:hover,.btn-success:hover,.btn-danger:hover {
  color: white
}

.btn-primary:active,.btn-success:active,.btn-danger:active,.active.btn-primary,.active.btn-success,.active.btn-danger {
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.2),0 1px rgba(255,255,255,0.1))
}

.btn-primary {
  background: #278cd8;
  border-color: #1b74bc #1867a8 #165f9b;
  @include background-image(linear-gradient(to bottom, #33a0e8,#1b7aca))
}

.btn-primary:active,.btn-primary.active {
  background: #2180ce;
  border-color: #145b96 #1566af #1a76c2;
  @include background-image(linear-gradient(to bottom, #2180ce,#33a0e8))
}

.btn-success {
  background: #81c33d;
  border-color: #7ba845 #77a343 #6f983f;
  @include background-image(linear-gradient(to bottom, #a0d44d,#72ba35))
}

.btn-success:active,.btn-success.active {
  background: #75bd35;
  border-color: #678f3a #75a143 #81b049;
  @include background-image(linear-gradient(to bottom, #75bd35,#a0d44d))
}

.btn-danger {
  background: #dd362c;
  border-color: #ac1612 #9d100d #8b0f0b;
  @include background-image(linear-gradient(to bottom, #fc4138,#ce3026))
}

.btn-danger:active,.btn-danger.active {
  background: #cf3025;
  border-color: #800d09 #8b0f0b #ac1612;
  @include background-image(linear-gradient(to bottom, #cf3025,#fc4138))
}

.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0
}

.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover {
  border-color: transparent;
}

.btn-link, .btn-link.active, .btn-link:active, .btn-link[disabled] {
  background-color: transparent;
  @include box-shadow(none)
}

.btn-link:focus, .btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent
}

.btn-link[disabled]:focus, .btn-link[disabled]:hover {
  color:#777;
  text-decoration:none
}

.btn-group {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  font-size: 0;
  white-space: nowrap
}

.btn-group>.btn {
  margin-left: -1px;
  height: inherit;
  line-height: 28px;
  padding: 0 15px;
  border-radius: 0
}

.btn-group>.btn:first-child {
  margin-left: 0;
  border-radius: 3px 0 0 3px
}

.btn-group>.btn:last-child {
  border-radius: 0 3px 3px 0
}

.btn-group>.btn:focus {
  position: relative;
  z-index: 1
}

.btn-dropdown {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 30px;
  font-size: 0;
  white-space: nowrap;
  outline: none
}

.btn-dropdown.open>.toggle {
  background: #e8e8e8;
  border-color: #bfbfbf #c8c8c8 #d6d6d6;
  @include background-image(linear-gradient(to bottom, #e8e8e8,#fafafa));
  @include box-shadow(inset 0 1px 3px rgba(0,0,0,0.15),0 1px rgba(255,255,255,0.1))
}

.btn-dropdown>.btn {
  position: relative;
  z-index: 1;
  height: inherit;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 3px 0 0 3px
}

.btn-dropdown>.toggle {
  width: 29px;
  font: 0/0 serif;
  color: transparent;
  border-left-width: 0;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn-dropdown>.toggle:before,.btn-dropdown>.toggle:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #888
}

.btn-dropdown>.toggle:before {
  margin-top: -1px;
  border-top-color: rgba(255,255,255,0.5)
}

.btn-dropdown.open>.dropdown {
  visibility: visible;
  opacity: 1;
}

.btn-dropdown.open>.btn {
  border-bottom-left-radius: 0
}

.btn-dropdown.open>.toggle {
  border-bottom-right-radius: 0
}

.btn-dropdown {
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -1px;
    font-size: 12px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    @include box-shadow(0 1px 1px rgba(0,0,0,0.06));
    visibility: hidden;
    opacity: 0;
    @include transition(visibility 0.3s ease, opacity 0.3s ease);
    a { cursor: pointer }
  }

  .dropdown>li {
    // text-align: center
    text-align: left
  }
  .dropdown>li>a {
    display: block;
    line-height: 28px;
    padding: 0 12px;
    color: #666;
    text-decoration: none;
    text-shadow: 0 1px white;
    @include box-shadow(inset 0 0 0 1px #fafafa)
  }

  .dropdown>li>a:hover,.dropdown>li>a:focus {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.4);
    background: #3e91ee;
    outline: none;
    @include background-image(linear-gradient(to bottom, #5ea8fc,#2e86e7));
    @include box-shadow(inset 0 1px rgba(255,255,255,0.2),0 1px #1e6abe,0 0 0 1px #277edd)
  }

  .dropdown>li+li {
    border-top: 1px solid #d6d6d6
  }

  .dropdown>li:last-child>a {
    border-radius: 0 0 2px 2px
  }
}
