@mixin centre($axis: "both") {
  position: absolute;
  @if $axis == "y" {
    top: 50%;
    @include translateY(-50%);
  }
  @if $axis == "x" {
    left: 50%;
    @include translateX(-50%);
  }
  @if $axis == "both" {
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }
}

body {
  font: 12px/21px "Lucida Grande",Verdana,Arial,sans-seri;
  color: #404040;
  background: #fafaf4;
}

a {
  color: #007fcc;
  text-decoration: none
}

a:hover {
  color: #0072ba;
  text-decoration: underline
}

strong {
  font-weight: bold
}

.center-vertical { @include centre("y") }
.center-horizontal { @include centre("x") }
.center { @include centre() }

.horizontal-left {
  text-align: left !important
}
.horizontal-center {
  text-align: center !important
}
.horizontal-right {
  text-align: right !important
}
.pointer {
  cursor: pointer !important
}
.inline {
  display: inline !important
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.nav:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.h1, .h2, .h3, .h4, .h5, .h6 { display: block }
.h1, .h2, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h4, .h5, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.h1 { font-size: 30px !important }
.h2 { font-size: 24px !important }
.h3 { font-size: 18px !important }
.h4 { font-size: 14px !important }
.h5 { font-size: 12px !important }
.h6 { font-size: 10px !important }
