.nav {
  display: block;
  vertical-align: top;
  white-space: nowrap
}
.nav>.nav-header, .nav>.nav-footer {
  overflow: hidden;
  line-height: 33px;
  padding: 0 11px;
  color: #555;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  background: #edf0fb;
  border: 1px solid;
  border-color: #dadef2 #ced8ee #c2ceec;
  border-radius: 3px 3px 0 0;
  @include background-image(linear-gradient(to bottom, #f4f6fc,#e2e6f8));
  @include box-shadow(rgba(255,255,255,0.5) 0 1px inset, rgba(255,255,255,0.3) 0 0 0 1px inset, rgba(0,0,0,0.05) 0 1px 1px);

  h1,h2,h3 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    a, a:hover, a:active {
      color: inherit;
      text-decoration: none;
    }
    &:after {
      content: '';
      display: block;
      clear: both
    }
  }
}

.nav>.nav-stacked {
  display: block;
  text-align: left;
  margin-top: -1px;
  font-size: 12px;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
  @include box-shadow(rgba(0,0,0,0.06) 0 1px 1px)
}
.nav>.nav-stacked>li>a {
  display: block;
  line-height: 28px;
  padding: 0 12px;
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px white;
  @include box-shadow(#fafafa 0 0 0 1px inset);
}
.nav>.nav-stacked>li>a:hover,.nav>.nav-stacked>li>a:focus,.nav>.nav-stacked>li>a.active {
  z-index: 2;
  color: white;
  text-shadow: 0 1px rgba(0,0,0,0.4);
  background: #3e91ee;
  outline: none;
  @include background-image(linear-gradient(to bottom, #5ea8fc,#2e86e7));
  @include box-shadow(rgba(255,255,255,0.2) 0 1px inset, #1e6abe 0 1px, #277edd 0 1px);
}
.nav>.nav-stacked>li+li {
  border-top: 1px solid #d6d6d6
}
.nav>.nav-stacked>li:last-child>a {
  border-radius: 0 0 2px 2px
}

.nav>.nav-footer {
  border-radius: 0 0 3px 3px;
  border-top-width: 0
}

.nav.has-footer>.nav-stacked {
  border-radius: 0
}
