.navbar {
  line-height: 38px;
  min-height: 40px;
  padding: 0 11px;
  color: #555;
  text-shadow: 0 1px rgba(255,255,255,0.5);
  background: #edf0fb;
  border: 1px solid;
  border-color: #dadef2 #ced8ee #c2ceec;
  border-radius: 3px;
  @include user-select(none);
  @include background-image(linear-gradient(to bottom, #f4f6fc,#e2e6f8));
  @include box-shadow(inset 0 1px rgba(255,255,255,0.5),inset 0 0 0 1px rgba(255,255,255,0.3),0 1px 1px rgba(0,0,0,0.05))
}

.navbar>h1,.navbar>h2,.navbar>h3 {
  float: left;
  font-size: 13px;
  font-weight: bold;
  a { color: #555 }
  a:hover, a:active { text-decoration: none }
}

.navbar-links {
  float: left;
  line-height: 39px;
}

.navbar-links.pull-right {
  float: right
}

.navbar-links>li {
  display: block;
  float: left
}

.navbar-links>li>a {
  cursor: pointer;
  padding: 5px 11px;

  img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 6px;
    vertical-align: middle
  }
}

.navbar-links>li>a.active {
  font-weight: bold;
  color: #3e91ee
}

.navbar-links>li+li>a {
  border-left: 1px solid #c9d3f2;
  border-left-color: rgba(183,192,223,0.6);
  @include box-shadow(inset 1px 0 rgba(255,255,255,0.2),-1px 0 rgba(255,255,255,0.2))
}

.navbar-links > li.dropdown {
  position: relative;
}

.navbar-links > li.dropdown > a:after {
  content: ' ';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent
}

.navbar-links > li > .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -1px;
  z-index: 1000;
  display: none;
  float: left;
  padding: 8px 0;
  min-width: 70px;
  text-align: left;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #dadef2 #ced8ee #c2ceec;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  @include background-image(linear-gradient(to bottom, #f4f6fc,#e2e6f8));
  @include box-shadow(inset 1px 0 rgba(255,255,255,0.2),-1px 0 rgba(255,255,255,0.2));

  .divider {
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    background-color: #bfbfbf;
  }

  li > a {
    display: block;
    padding: 2px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
  }
}

.navbar-links > li.open > .dropdown-menu {
  display: block
}

.navbar-links.pull-right > li.open > .dropdown-menu {
  left: auto;
  right: -1px
}
